{% extends 'developer/base.html' %}
{% load staticfiles%}
	{% block content %}
          


				<p id="auxfunctionfordatespentondefaultfill" hidden></p>
				<p id="auxfunctionforissueselectoptions" hidden></p>
				<p align="center" id="title" style="font-size:160%;">Time Manager Form</p>{% csrf_token %}

							<button id="filterbutton" type="submit">
							   <span class="glyphicon glyphicon-filter"></span>
							</button>

							<button id="filteroutbutton" type="button">
							   <span class="glyphicon glyphicon-trash"></span>
							</button>
							<button id="timedonesuploadtoitsbutton" type="button">
							   <span class="glyphicon glyphicon-arrow-up"></span>
							</button>

							<label for="addfilterselect" >Add Filter</label>
							<select id="addfilterselect">
									<option value="" ></option>
									{% for addfilterselectvaluesandoption in addfilterselectvaluesandoptions %}
										<option value="{{addfilterselectvaluesandoption.1}}">{{addfilterselectvaluesandoption.0}}</option>
									{% endfor %}
							</select>
							<p align="left"><a href="{% url 'timedoneitemnew' %}"><span class="glyphicon glyphicon-plus"></span></a></p>

							<p id="filtertemplate" ></p>
							<hr>
							<p id="productsearchtemplate" ></p>

							<div id="dialog" title="Userid is unset">
							<p>Please set the Userid in row with timedoneid <span id="useridemptyintimedoneid"></span></p>
							</div>
							<div id="dialog-message" title="Uploading...">
							</div>
							<div id="dialog-message-requesting" title="Requesting...">
							</div>
							<p id="filteritemlistelementvaluesaccumulatortemplate" hidden></p>


			<script type="text/javascript" src="{% static 'js/timemanager.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/timemanager.css' %}">

	{% endblock %}
