#receptionbutton:hover {
  background-color: white;
  color: black;
  border: 2px solid #ff5416;


}
#receptionbutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#receptionbutton {
  background-color: #ff5416;
  color: white;

  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 22px 16px;
}