.pohandlerarrivalbutton:hover {
  background-color: white;
  color: black;
  border: 2px solid #ff5416;


}
.pohandlerarrivalbutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pohandlerarrivalbutton {
  background-color: #ff5416;
  color: white;

  font-size: 18px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 2px 8px;
}
#pohandlerreceptionbutton:hover {
  background-color: white;
  color: black;
  border: 2px solid #4286f4;


}
#pohandlerreceptionbutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#pohandlerreceptionbutton {
  background-color: #4286f4;
  color: white;

  font-size: 18px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 2px 8px;
}
#selectablearrivaldates .ui-selecting {
    background: #FECA40;
}
#selectablearrivaldates .ui-selected {
    background: #F39814;
    color: white;
}
#selectablearrivaldates {
  list-style-type: none;
  width: 10%;
  position: absolute;
  left:180mm;
  top: 30mm;
}
