body {
      background: rgb(204,204,204);
    }
.page {
      background: white;
      //display: block;
      margin: 0 auto;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
      width: 21cm;
      height: 29.7cm;
      position: relative;

    }





.item-container{
      //position: relative;
      // top: 35mm;
    //left: 20.6mm;

}
.item-container-frame{
      position: relative;
       top:30mm;
       left: 20mm;
       right_20mm;
    //color: red;

}

.chapternumbersdiv {
      position: relative;
      top: 50mm;
    left: 20.6mm;

   }

.chapternumbersspan {
   font-family: "Arial", Times, serif;
   font-size: 14px;
   margin-left: -4px;


}


.descriptiondiv {
      position: relative;
      top: 0mm;
    width: 90mm;
   font-family: "Arial", Times, serif;
   font-size: 12px;
   overflow-wrap: break-word;
    margin-left: -4px;
}
.qtydiv {
      position: absolute;
      top: 0mm;
    left: 100mm;
    width: 10mm;
   font-family: "Arial", Times, serif;
   font-size: 12px;
   overflow-wrap: break-word;
}
.salespricediv {
      position: absolute;
      top: 0mm;
    left: 110mm;
    width: 200mm;
   font-family: "Arial", Times, serif;
   font-size: 12px;
   overflow-wrap: break-word;
}

.footerdiv{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: white;
      text-align:Center;
      height:45mm;
      font-family: "Arial", Times, serif;
      font-size: 19px;
}

.footerspan1{
      position:relative;
      width: 180mm;
      bottom: 20mm;

 }

hr {
position:relative;
top 0;
margin: 20mm;
border-top: 3px double #8c8b8b;
}

.header {

      position: relative;
      top: 23mm;
      width: 170mm;
      height: 10mm;
      left: 20mm;
      border:2px solid #000;
      font-family: "Times New Roman", Times, serif;
      font-size: 14px;
      font-style: italic;
      font-weight: bold;
      //margin-bottom: 10mm;
      //margin-top:20mm;

}
.headerlabels {
      position: relative;
      top: 3mm;
}
#logo {
      position: relative;
      margin: 20mm;
      width:170mm;
      height:30mm;
}



#companyname {
      font-family: "Arial", Times, serif;
      font-size: 20px;
      font-weight: bold;
      margin-left: 20mm;
}
#contactname {
      font-family: "Arial", Times, serif;
      font-size: 20px;
      font-weight: bold;
      margin-left: 20mm;
}
#pcdandtown {
      font-family: "Arial", Times, serif;
      font-size: 16px;
      margin-left: 20mm;
}
#address {
      font-family: "Arial", Times, serif;
      font-size: 16px;
      margin-left: 20mm;
}
#mobile {
      font-family: "Arial", Times, serif;
      font-size: 16px;
      margin-left: 20mm;
}
#email {
      font-family: "Arial", Times, serif;
      font-size: 16px;
      margin-left: 20mm;
}
#subject {
        position: relative;
        top: 7mm;
        font-family: "Arial", Times, serif;
        font-size: 16px;
        margin-left: 20mm;

 }
#salutation {
        position: relative;
        top: 8mm;
      font-family: "Arial", Times, serif;
      font-size: 16px;
      margin-left: 20mm;
}
#preface {
        position: relative;
        top: 10mm;
        font-family: "Arial", Times, serif;
        font-size: 16px;
        margin-left: 20mm;
        overflow: auto;
        resize: none;
         outline: none;
        border: none;
        background-color: white;
        color: #000;
        line-height: 20px; /* 4px +12px + 4px */

}

#numberofquotationlabel {
      position: absolute;
      top:72mm;
      left:100mm;
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
}
#numberofquotation {
      position: absolute;
      top:72mm;
      left:140mm;
      font-family: "Arial", Times, serif;
      font-size: 16px;
}
#ourcontactlabel {
      position: absolute;
      top:82mm;
      left:100mm;
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
}
#ourcontact {
      position: absolute;
      top:82mm;
      left:140mm;
      font-family: "Arial", Times, serif;
      font-size: 16px;
}
#subscriptiontext {
      position: absolute;
      top:91mm;
      left:140mm;
      font-family: "Arial", Times, serif;
      font-size: 14px;
      white-space: pre;
}
#creationtimelabel {
      position: absolute;
      top:108mm;
      left:100mm;
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
}
#creationtime {
      position: absolute;
      top:108mm;
      left:140mm;
      font-family: "Arial", Times, serif;
      font-size: 16px;
}
#pageslabel {
      position: absolute;
      top:118mm;
      left:100mm;
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
}
#pages {
      position: absolute;
      top:118mm;
      left:140mm;
      font-family: "Arial", Times, serif;
      font-size: 16px;
}
#prefacespec {
        position: relative;
        top: 20mm;
        font-family: "Arial", Times, serif;
        font-size: 16px;
        margin-left: 20mm;
        overflow: hidden;
        resize: none;
        outline: none;
        border: none;
        background-color: white;
        color: #000;
        line-height: 20px; /* 4px +12px + 4px */
        display:block;
        white-space: pre;

}
.totalhr {
//position:static;
//top 0;
margin: 0mm;
margin-left:20mm;
margin-right:20mm;
color: blue;
right: 21mm;
}
.totallabel {
        position: relative;
        left: 91mm;
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;

}
#backpagetexthtml {

        white-space: pre;

}