{% load static %}
<html>
    <head>
        <title>Quotation Maker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/quotationmaker.css' %}">


	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
	<div class="page-header">
	    {% if user.is_authenticated %}
		<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
	    {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
	    {% endif %}
	</div>
	<div class="container" id="mainmenu">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="{% url 'welcome' %}">Quotation Maker</a>
			</div>
			<ul class="nav navbar-nav" id="mainnavbar">
				<li><a href="{% url 'docs' %}">Docs</a></li>
				<li><a href="{% url 'docsearch' %}">Docsearch</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Queries</span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'supplierorderpre' %}">Supplier Order Preparation</a></li>
					</ul>
				</li>
				<li><a href="{% url 'companies' %}">Companies</a></li>
				<li><a href="{% url 'products' pkproductid=0 %}">Products</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Settings</span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'coredata_prefaceforquotation' %}">Prefaces</a></li>
						<li><a href="{% url 'coredata_backpageforquotation' %}">Backpages</a></li>
						<li><a href="{% url 'coredata_payment' %}">Payments</a></li>
						<li><a href="{% url 'coredata_currency' %}">Currencies</a></li>

					</ul>
				</li>
			</ul>
		  </div>
		</nav>
	</div>

	<div class="container-fluid">
	    <div class="row">
	        <div >
			{% block content %}
			{% endblock %}
        </div>
    </div>
</div

{% block javascript %}{% endblock %}
    </body>
</html>
