{% extends 'quotation/base.html' %}
{% load staticfiles%}
{% block content %}
          

				<p align="center" style="font-size:160%;" id="title" >Companyedit Form</p>
				<p align="center" style="font-size:100%;" id="companyid" companyid="{{ particularcompany.0.0 }}" >Companyid: {{ particularcompany.0.0 }}</p>
				<div id="sqlsaving">
				</div><br>

				<div id="tabs1">
						  <ul>
							<li><a href="#tabs1fragment-1">Company</a></li>
							<li><a href="#tabs1fragment-2">Data</a></li>
							<li><a href="#tabs1fragment-3">Default</a></li>
						  </ul>
						  <div id="tabs1fragment-1">
							<form action="{% url 'companyedit' pk=particularcompany.0.0 %}" method="post">{% csrf_token %}
								<input type="text" value="{{ particularcompany.0.0}}" name="companyid" size="3" disabled><br>
								<input type="text" value="{{ particularcompany.0.1}}" name="companyname"><br>
								<input type="text" value="{{ particularcompany.0.4}}" name="pcd"><br>
								<input type="text" value="{{ particularcompany.0.5}}" name="town"><br>
								<input type="text" value="{{ particularcompany.0.6}}" name="address"><br>

							</form>

						  </div>
						  <div id="tabs1fragment-2">

						  </div>
						  <div id="tabs1fragment-3">
							  	<label >Prefaceforquotation</label>
								<select class="selection" fieldnamefromname = "prefacenameforquotation_tblprefaceforquotation" fieldnamefromid = "prefaceidforquotation_tblprefaceforquotation" tablenamefrom="quotation_tblprefaceforquotation" fieldnameto="defaultprefaceidforquotation_tblcompanies" >
										<option value="" disabled selected>{{ selecteddefaultprefacenameforquotation }}</option>
									{% for defaultprefacechoiceforquotation in defaultprefacechoicesforquotation %}
										<option value="{{ defaultprefacechoiceforquotation.0 }}">{{ defaultprefacechoiceforquotation.1}}</option>
									{% endfor %}
								</select><br>
							  	<label >Backpageforquotation</label>
								<select class="selection" fieldnamefromname = "backpagenameforquotation_tblbackpageforquotation" fieldnamefromid = "backpageidforquotation_tblbackpageforquotation" tablenamefrom="quotation_tblbackpageforquotation" fieldnameto="defaultbackpageidforquotation_tblcompanies" >
										<option value="" disabled selected>{{ selecteddefaultbackpagenameforquotation }}</option>
									{% for defaultbackpagechoiceforquotation in defaultbackpagechoicesforquotation %}
										<option value="{{ defaultbackpagechoiceforquotation.0 }}">{{ defaultbackpagechoiceforquotation.1}}</option>
									{% endfor %}
								</select><br>
							  	<label >Payment</label>
								<select class="selection" fieldnamefromname = "paymentname_tblpayment" fieldnamefromid = "paymentid_tblpayment" tablenamefrom="quotation_tblpayment" fieldnameto="defaultpaymentid_tblcompanies" >
										<option value="" disabled selected>{{ selecteddefaultpaymentname }}</option>
									{% for defaultpaymentchoice in defaultpaymentchoices %}
										<option value="{{ defaultpaymentchoice.0 }}">{{ defaultpaymentchoice.1}}</option>
									{% endfor %}
								</select>


						  </div>

				</div>
				<div class="contactsdiv">
							<p ><a href="{% url 'contactadd' pk=particularcompany.0.0 %}"><span class="glyphicon glyphicon-plus"></span></a></p>

							{% for contact in contacts %}
								<input type="text" value="{{ contact.0}}" name="id1">
								<input type="text" value="{{ contact.1}}" name="firstname">
								<input type="text" value="{{ contact.2}}" name="lastname">
                                <input type="text" value="{{ contact.3}}" name="title">
								<input type="text" value="{{ contact.4}}" name="mobile">
								<input type="text" class="updateabletblcontacts" value="{{ contact.5}}" name="email_tblcontacts" rowid="{{ contact.0}}">

								<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.4}}" name="firstnum_tblDoc_details" maxlength="10" rowid="{{ tblDoc_details.0}}" size="2">

								<br>
							{% endfor %}
				</div>
				<script type="text/javascript" src="{% static 'js/companyedit.js' %}"></script>
				<link rel="stylesheet" href="{% static 'css/companyedit.css' %}">

	{% endblock %}
