{% load static %}
<html>

		<head>
			<title>Quotation Maker</title>
			<link rel="stylesheet" href="{% static 'css/customerinvoiceprint.css' %}">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	   </head>
    <body>
	<p id="numberofcustomerinvoice" hidden>CI-{{ doc.0.10}}</p>
	<p id="itemnumberp" itemnumber="{{ docdetailscount }}" hidden></p>
	<p id="customerinvoiceid" hidden>{{ doc.0.0}}</p>
	<p id="total" hidden>{{ doc.0.19}}</p>{% csrf_token %}
	<p id="currencycodeinreport_tbldoc" hidden>{{ doc.0.28}}</p>

	<button id="dispatchinvoicebutton" type="submit">
	   <span>Dispatch Invoice</span>
	</button>

		<!-- /obsolete/ wrap first page ˇ-->
		<div id="invoicehead">
			<p id="title" >Copy of Invoice</p>
			<div class="framedivonfirstpage" >

				<div class="frameissuedbyandcustomer" >
						<div class="innerframeissuedby">
							<div class="innerframeissuedbylabels">
								<span>Issued By:</span>
									<div class="issuedbytexts">

										<p >Gofri Dealer Ltd </p>
										<p >6726 Szeged </p>
										<p >Akácfa u. 16.</p>
										<p >+36309680468</p>
										<p >szluka.mate@gmail.com</p>

									</div>
							</div>
						</div>
						<div class="innerframecustomer">
							<div class="innerframecustomerlabels">
								<span >Customer:</span>
									<div class="customertexts">

										<p id="companyname">{{ doc.0.3}} </p>
										<p id="contactname">To: {{ doc.0.13}} {{ doc.0.4}} {{ doc.0.5}} </p>
										<p id="pcdandtown">{{ doc.0.16}} {{ doc.0.17}}</p>
										<p id="pcd" hidden>{{ doc.0.16}}</p>
										<p id="town" hidden>{{ doc.0.17}}</p>

										<p id="address">{{ doc.0.18}}</p>
										<p id="mobile">{{ doc.0.14}}</p>
										<p id="email">{{ doc.0.15}}</p>

									</div>

							</div>
						</div>


				</div>

				<div class="frameaccessories">
					<div id="methodofpaymentlabel">
						<span >Method of Payment:</span>
							<div id="methodofpaymenttext">
								<p id="methodofpaymentvalue" >{{ doc.0.21}}</p>
							</div>
					</div>
					<div id="dateofcompletionlabel">
						<span >Date of Completion:</span>
							<div id="dateofcompletiontext">
								<p id="dateofcompletionvalue">{{ doc.0.24|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="dateofinvoicelabel">
						<span >Date of Invoice:</span>
							<div id="dateofinvoicetext">
								<p id="dateofinvoicevalue">{{ doc.0.12|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="deadlineforpaymentlabel">
						<span >Deadline for Payment:</span>
							<div id="deadlineforpaymenttext">
								<p id="deadlineforpaymentvalue">{{ doc.0.25|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="numberoforderlabel">
						<span >Number of Order:</span>
							<div id="numberofordertext">
								<p id="numberofordervalue">{{ doc.0.26}}</p>
							</div>
					</div>
					<div id="dateoforderlabel">
						<span >Date of Order:</span>
							<div id="dateofordertext">
								<p >{{ doc.0.27|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="currencylabel">
						<span >Currency:</span>
							<div id="currencytext">
								<p id="currencyvalue">{{ doc.0.28}}</p>
							</div>
					</div>

				</div>
				<div id="frameremarks">
					<div id="remarkslabel">
						<span >Remarks:</span>
							<div id="remarkstext">
								<p><textarea id="remarkstextarea" rows="18" cols="70" wrap="off" disabled>{{ doc.0.29}}</textarea></p>
							</div>
					</div>
				</div>
<!--
				<div id="frameheader">
					<div id="positionnumberlabel">
						<span >Pos.</span>
					</div>
					<div id="descriptionlabel">
						<span >Description</span>
					</div>
					<div id="unitlabel">
						<span >Unit</span>
					</div>
					<div id="quantitylabel">
						<span >Qty.</span>
					</div>
					<div id="unitpricelabel">
						<span >Unit Price</span>
					</div>
					<div id="netpricelabel">
						<span >Net Price</span>
					</div>
					<div id="vatpercentlabel">
						<span >VAT</span>
					</div>
					<div id="vatvaluelabel">
						<span >VAT Value</span>
					</div>
					<div id="grosspricelabel">
						<span >Gross Price</span>
					</div>

				</div>
-->
			</div>
<!--

				<div class="firstpagefooterdiv" >
					<hr>
					<span class="firstpagefooterspan1" >Please see the conditions in details on the last page<br></span>
					<span class="firstpagefooterspan2" >Description2</span>
					<span class="firstpagefooterspan3" >Description3</span>

				</div>
-->

		</div>


		<!-- /obsolete commont/ first page wrapping end^ -->

						{% for tblDoc_details in docdetails %}
						<div class="item-container-for-measure" rowid="{{ forloop.counter0 }}">

							<span name="htmlinsertbefore" rowid="{{ forloop.counter0 }}"></span>

								<div class="item-container-frame" rowid="{{ forloop.counter0 }}">

									<div rowid="{{ forloop.counter0 }}" class="item-container">

												<span  class="chapternumbersspan" name="firstnum_tblDoc_details">{{forloop.counter}}.</span>

												<br>
													<div  class="descriptiondiv" rowid="{{ forloop.counter0 }}">
															<p   name="Product_description_tblProduct_ctblDoc_details" >{{ tblDoc_details.3}}</p>


													</div>
													<div  class="notediv" rowid="{{ forloop.counter0 }}">
														<p   name="note">{{ tblDoc_details.8}}</p>

													</div>
													<div  class="labeldiv" rowid="{{ forloop.counter0 }}">
														<p   name="label"></p>
                                                        {% spaceless %}

                                                        {% for labelid in labelidtemptableswithenablelabelkindflagset %}

                                                            {% if tblDoc_details.13 == labelid.2 and labelid.6 == 1 and tblDoc_details.8 == labelid.10 %} <!-- match productids and enablelabelkindflag is true and note.doc_details==note.labelid (note and productid need to be matched)-->

                                                                {% if tblDoc_details.24 == 1 %} <!-- Service -->

                                                                            <span >Service Id: </span>

                                                                {% else %}

                                                                    {% if tblDoc_details.23 == 1 %} <!-- Discrete -->

                                                                            <span >Unique Id: </span>
                                                                    {% else %} <!-- Indiscrete -->

                                                                            <span >Batch Id: </span>
                                                                    {% endif %}

                                                                {% endif %}


                                                            {% endif %}

                                                        {% endfor %}


                                                        {% for labelid in labelidtemptableswithenablelabelkindflagset %}

                                                            {% if tblDoc_details.13 == labelid.2 and tblDoc_details.8 == labelid.10 %} <!-- match productids and note.doc_details==note.labelid (note and productid need to be matched) -->

                                                                {% if tblDoc_details.24 == 1 %} <!-- Service -->

                                                                        <span >{{ labelid.3}}:{{labelid.4}} </span>

                                                                {% else %}

                                                                    {% if labelid.9 == 1 and labelid.7 == 1 %} <!-- fromstocknameprintingenabled and fromstockflag are true -->


                                                                        {% if tblDoc_details.23 == 1 %} <!-- Discrete -->

                                                                                <span >/From {{ labelid.8}}/ </span>
                                                                        {% else %} <!-- Indiscrete -->

                                                                                <span >/From {{ labelid.8}}/ </span>
                                                                        {% endif %}

                                                                    {% endif %}


                                                                    {% if tblDoc_details.23 == 1 %} <!-- Discrete -->

                                                                        <span >{{ labelid.3}} </span>
                                                                    {% else %} <!-- Indiscrete -->

                                                                        <span >{{ labelid.3}}:{{labelid.4}} </span>

                                                                    {% endif %}

                                                                {% endif %}


                                                            {% endif %}

                                                        {% endfor %}
                                                        {% endspaceless %}

													</div>

													<div  class="qtydiv">
															<p   name="Qty_tblDoc_details">{{ tblDoc_details.1}} {{ tblDoc_details.15}}</p>
															<p   name="unit_tblDoc_details" rowid="{{ forloop.counter0 }}" hidden>{{ tblDoc_details.15}}</p>
															<p   name="qty" rowid="{{ forloop.counter0 }}" hidden>{{ tblDoc_details.1}}</p>
													</div>
													<div  class="unitsalespricediv">
															<p   name="unitsalesprice" rowid="{{ forloop.counter0 }}">{{ tblDoc_details.18}}</p>
													</div>
													<div  class="netpricediv">
															<p   name="netpricediv" rowid="{{ forloop.counter0 }}">{{ tblDoc_details.19}}</p>
													</div>
													<div  class="vatpercentdiv">
															<p   name="vatpercentdiv" rowid="{{ forloop.counter0 }}">{{ tblDoc_details.26}}</p>
													</div>
													<div  class="vatvaluediv">
															<p   name="vatvaluediv" rowid="{{ forloop.counter0 }}">{{ tblDoc_details.27}}</p>
													</div>
													<div  class="grosspricediv">
															<p   name="grosspricediv" rowid="{{ forloop.counter0 }}">{{ tblDoc_details.28}}</p>
													</div>

													<div  class="totalhtmlinsertdiv">
															<span name="totalhtmlinsertspan" rowid="{{ forloop.counter0 }}"></span>
													</div>

									</div>
								</div>
							<span name="htmlinsertafter" rowid="{{ forloop.counter0 }}"></span>
						</div>
						{% endfor %}
<!--
		<div class="page">
			<p id="deliverydays" hidden>{{ doc.0.20}}</p>
			<p id="payment" hidden>{{ doc.0.21}}</p>

			<div class="backpagetextcontainer">{{doc.0.7|safe}}


			</div>
			<div class="backpagesignature" >
				<p>{{creatordata.0.1}} {{creatordata.0.2}}</p>
				<p>{{creatordata.0.4}}</p>

			</div>
			<div class="backpagefooterdiv" >
				<span class="backpagefooterspan2" pagenumber="1">Description2</span>
				<span class="backpagefooterspan3" >Description3</span>
			</div>

		</div>
-->

		<script type="text/javascript" src="{% static 'js/customerinvoiceprint.js' %}"></script>
   </body>
</html>
