{% load static %}
<html>

		<head>
			<title>Quotation Maker</title>
			<link rel="stylesheet" href="{% static 'css/customerinvoiceprint.css' %}">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	   </head>
    <body>
	<p id="deliverynoteid" hidden>{{ doc.0.0}}</p>
	<p id="total" hidden>{{ doc.0.19}}</p>{% csrf_token %}
	<p id="currencycodeinreport_tbldoc" hidden>{{ doc.0.22}}</p>
	<p id="currencyrateinreport_tbldoc" hidden>{{ doc.0.23}}</p>

		<!-- wrap first page ˇ-->
		<div class="page">
			<p id="title" >Copy of Invoice</p>
			<div class="framedivonfirstpage" >

				<div class="frameissuedbyandcustomer" >
						<div class="innerframeissuedby">
							<div class="innerframeissuedbylabels">
								<span>Issued By:</span>
									<div class="issuedbytexts">

										<p >Gofri Dealer Ltd </p>
										<p >6726 Szeged </p>
										<p >Akácfa u. 16.</p>
										<p >+36309680468</p>
										<p >szluka.mate@gmail.com</p>

									</div>
							</div>
						</div>
						<div class="innerframecustomer">
							<div class="innerframecustomerlabels">
								<span >Customer:</span>
									<div class="customertexts">

										<p name="companyname">{{ doc.0.3}} </p>
										<p name="contactname">To: {{ doc.0.13}} {{ doc.0.4}} {{ doc.0.5}} </p>
										<p name="pcdandtown">{{ doc.0.16}} {{ doc.0.17}}</p>
										<p name="address">{{ doc.0.18}}</p>
										<p name="mobile">{{ doc.0.14}}</p>
										<p name="email">{{ doc.0.15}}</p>

									</div>

							</div>
						</div>


				</div>

				<div class="frameaccessories">
					<div id="methodofpaymentlabel">
						<span >Method of Payment:</span>
							<div id="methodofpaymenttext">
								<p >{{ doc.0.21}}</p>
							</div>
					</div>
					<div id="dateofcompletionlabel">
						<span >Date of Completion:</span>
							<div id="dateofcompletiontext">
								<p >{{ doc.0.24|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="dateofinvoicelabel">
						<span >Date of Invoice:</span>
							<div id="dateofinvoicetext">
								<p >{{ doc.0.12|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="deadlineforpaymentlabel">
						<span >Deadline for Payment:</span>
							<div id="deadlineforpaymenttext">
								<p >{{ doc.0.25|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="numberoforderlabel">
						<span >Number of Order:</span>
							<div id="numberofordertext">
								<p >{{ doc.0.26}}</p>
							</div>
					</div>
					<div id="dateoforderlabel">
						<span >Date of Order:</span>
							<div id="dateofordertext">
								<p >{{ doc.0.27|date:'Y-m-d'}}</p>
							</div>
					</div>
					<div id="currencylabel">
						<span >Currency:</span>
							<div id="currencytext">
								<p >{{ doc.0.28}}</p>
							</div>
					</div>

				</div>
				<div id="frameremarks">
					<div id="remarkslabel">
						<span >Remarks:</span>
							<div id="remarkstext">
								<p><textarea id="remarkstextarea" rows="18" cols="70" wrap="off" disabled>{{ doc.0.29}}</textarea></p>
							</div>
					</div>
				</div>
				<div id="frameheaderonfirstpage">
					<div id="positionnumberlabel">
						<span >Pos.</span>
					</div>
					<div id="descriptionlabel">
						<span >Description</span>
					</div>

				</div>

			</div>


				<p id="pageslabel">Pages:</p>
				<p id="pages"></p>



				<p id="itemnumberp" itemnumber="{{ docdetailscount }}" hidden></p>
				<div class="firstpagefooterdiv" >
					<hr>
					<span class="firstpagefooterspan1" >Please see the conditions in details on the last page<br></span>
					<span class="firstpagefooterspan2" >Description2</span>
					<span class="firstpagefooterspan3" >Description3</span>

				</div>
		</div>
		<!-- first page wrapping end^ -->

						{% for tblDoc_details in docdetails %}
						<div class="item-container-for-measure" rowid="{{ forloop.counter0 }}">

							<span name="htmlinsertbefore" rowid="{{ forloop.counter0 }}"></span>

								<div class="item-container-frame" rowid="{{ forloop.counter0 }}">

									<div rowid="{{ forloop.counter0 }}" class="item-container">

												<span  class="chapternumbersspan" name="firstnum_tblDoc_details">{{forloop.counter}}.</span>

					<!--							{% if tblDoc_details.6 > 0 or tblDoc_details.7 > 0 or tblDoc_details.5 > 0%}
												<span  class="chapternumbersspan" name="secondnum_tblDoc_details">{{tblDoc_details.6}}.</span>
												{% endif %}

												{% if tblDoc_details.7 > 0 or tblDoc_details.5 > 0 %}
												<span class="chapternumbersspan" name="thirdnum_tblDoc_details">{{tblDoc_details.7}}.</span>
												{% endif %}

												{% if tblDoc_details.5 > 0 %}
												<span class="chapternumbersspan" name="fourthnum_tblDoc_details">{{tblDoc_details.5}}.</span>
												{% endif %}
-->
												<br>
													<div  class="descriptiondiv">
															<p   name="Product_description_tblProduct_ctblDoc_details">{{ tblDoc_details.3}}</p>
															{% spaceless %}

															{% for labelid in labelidtemptableswithenablelabelkindflagset %}

																{% if tblDoc_details.13 == labelid.2 and labelid.6 == 1%} <!-- match productids and enablekindflag is true -->

																	{% if tblDoc_details.24 == 1 %} <!-- Service -->

																	{% else %}

																		{% if tblDoc_details.23 == 1 %} <!-- Discrete -->

																				<span >Unique Id: </span>
																		{% else %} <!-- Indiscrete -->

																				<span >Batch Id: </span>
																		{% endif %}

																	{% endif %}


																{% endif %}

															{% endfor %}


															{% for labelid in labelidtemptableswithenablelabelkindflagset %}

																{% if tblDoc_details.13 == labelid.2 %} <!-- match productids -->

																	{% if tblDoc_details.24 == 1 %} <!-- Service -->


																	{% else %}

																		{% if tblDoc_details.23 == 1 %} <!-- Discrete -->

																			<span >{{ labelid.3}} </span>
																		{% else %} <!-- Indiscrete -->

																			<span >{{ labelid.3}}:{{labelid.4}} </span>

																		{% endif %}

																	{% endif %}


																{% endif %}

															{% endfor %}
															{% endspaceless %}

													</div>
													<div  class="qtydiv">
															<p   name="Qty_tblDoc_details">{{ tblDoc_details.1}} {{ tblDoc_details.15}}</p>
													</div>
													<div  class="unitsalespricediv">
															<p   name="unitsalesprice" rowid="{{ forloop.counter0 }}">{{ tblDoc_details.19}}</p>
													</div>
													<div  class="salespricediv">
															<p   name="salesprice" rowid="{{ forloop.counter0 }}">{{ tblDoc_details.20}}</p>
													</div>

													<div  class="totalhtmlinsertdiv">
															<span name="totalhtmlinsertspan" rowid="{{ forloop.counter0 }}"></span>
													</div>

									</div>
								</div>
							<span name="htmlinsertafter" rowid="{{ forloop.counter0 }}"></span>
						</div>
						{% endfor %}
		<div class="page">
			<p id="deliverydays" hidden>{{ doc.0.20}}</p>
			<p id="payment" hidden>{{ doc.0.21}}</p>

			<div class="backpagetextcontainer">{{doc.0.7|safe}}


			</div>
			<div class="backpagesignature" >
				<p>{{creatordata.0.1}} {{creatordata.0.2}}</p>
				<p>{{creatordata.0.4}}</p>

			</div>
			<div class="backpagefooterdiv" >
				<span class="backpagefooterspan2" pagenumber="1">Description2</span>
				<span class="backpagefooterspan3" >Description3</span>
			</div>

		</div>


		<script type="text/javascript" src="{% static 'js/customerinvoiceprint.js' %}"></script>
   </body>
</html>
