{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}
          



							<p align="center" style="font-size:160%;">Doclinks</p>
							<!-- doclevelminus1-->
							<svg height="35" width="200">
							  <g>
								<rect x="0" y="0" width="75" height="35" fill="yellow"></rect>
								<text x="0" y="15" font-family="Arial" font-size="16" fill="black">Level: -1</text>
			    				{% if doclevelminus1 != None %}
								<text x="0" y="30" font-family="Arial" font-size="16" fill="black"><a href="{% url 'doclink' docid=doclevelminus1 %}">{{ doclevelminus1 }}</a></text>

								{% else %}
							  	<text x="0" y="30" font-family="Arial" font-size="16" fill="black">Top</text>

								{% endif %}

							  </g>
							</svg><br>
							<!-- doclevel0-->
								<svg height="30" width="100">
								  <line x1="37" y1="0" x2="37" y2="30" style="stroke:rgb(0,0,0);stroke-width:2" />
								</svg><br>

							<svg height="35" width="200">
							  <g>
								<rect x="0" y="0" width="75" height="35" fill="green"></rect>
								<text x="0" y="15" font-family="Arial" font-size="16" fill="white">Level: 0</text>
								<text x="0" y="30" font-family="Arial" font-size="16" fill="white">{{ doclevel0 }}</text>
							  </g>
							</svg>
							<!-- doclevel1-->
							<p>

							<svg height="71" width="{{ docslevel1widthforsvg }}">
							  <g>
							  	{% for doclevel1 in docslevel1 %}

								<line x1="37" y1="0" x2="{{ doclevel1.4 }}" y2="38" style="stroke:rgb(0,0,0);stroke-width:2" />
								<rect x="{{ doclevel1.3 }}" y="35" width="75" height="35" fill="red"></rect>
								<text x="{{ doclevel1.3 }}" y="50" font-family="Arial" font-size="16" fill="white">Level: 1</text>
								<text x="{{ doclevel1.3 }}" y="65" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel1.1 %}">{{ doclevel1.0 }}:{{ doclevel1.1 }}</a></text>
								{% endfor %}

							  </g>

							</svg>
							</p>

							<!-- doclevel2-->
							<p>

							<svg height="71" width="{{ docslevel2widthforsvg }}">
							  <g>
							  	{% for doclevel2 in docslevel2 %}

								<line x1="{{ doclevel2.5 }}" y1="0" x2="{{ doclevel2.4 }}" y2="38" style="stroke:rgb(0,0,0);stroke-width:2" />
								<rect x="{{ doclevel2.3 }}" y="35" width="75" height="35" fill="purple"></rect>
								<text x="{{ doclevel2.3 }}" y="50" font-family="Arial" font-size="16" fill="white">Level: 2</text>
								<text x="{{ doclevel2.3 }}" y="65" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel2.1 %}">{{ doclevel2.0 }}:{{ doclevel2.1 }}:{{ doclevel2.2 }}</a></text>
								{% endfor %}

							  </g>

							</svg></p>
							<p><svg height="300" width="{{ docslevel3widthforsvg }}">
							  <g>
							  	{% for doclevel3 in docslevel3 %}

								<line x1="{{ doclevel3.5 }}" y1="0" x2="{{ doclevel3.4 }}" y2="38" style="stroke:rgb(0,0,0);stroke-width:2" />
								<rect x="{{ doclevel3.3 }}" y="35" width="175" height="150" fill="brown"></rect>
								<text x="{{ doclevel3.3 }}" y="95" font-family="Arial" font-size="10" fill="white">Level: 3 {{ doclevel3.0 }}:{{ doclevel3.1 }}</text>
								<text x="{{ doclevel3.3 }}" y="65" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel3.1 %}">{{ doclevel3.6 }}</a></text>
								<text x="{{ doclevel3.3 }}" y="80" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel3.1 %}">{{ doclevel3.7 }}{{ doclevel3.8 }}</a></text>
								<text x="{{ doclevel3.3 }}" y="50" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel3.1 %}">{{ doclevel3.10 }}{{ doclevel3.11 }}</a></text>
								<text x="{{ doclevel3.3 }}" y="110" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel3.1 %}">{{ doclevel3.13 }}</a></text>
								<text x="{{ doclevel3.3 }}" y="125" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel3.1 %}">{{ doclevel3.12 }}</a></text>

								{% endfor %}

					  "companyname_tblcompanies_ctbldoc, "
                        "firstname_tblcontacts_ctbldoc, "
                        "lastname_tblcontacts_ctbldoc, "
                        "Doc_kind_name_tblDoc_kind, "
                        "pretag_tbldockind, "
                        "docnumber_tbldoc, "
                        "creationtime_tbldoc, "
                        "subject_tbldoc "

							  </g>

							</svg>
							</p>

		<script type="text/javascript" src="{% static 'js/doclink.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/doclink.css' %}">

	{% endblock %}
