{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}
          



							<p align="center" style="font-size:160%;">Doclinks</p>
							<!-- doclevelminus1-->
							<svg height="35" width="200">
							  <g>
								<rect x="0" y="0" width="75" height="35" fill="yellow"></rect>
								<text x="0" y="15" font-family="Arial" font-size="16" fill="black">Level: -1</text>
			    				{% if doclevelminus1 != None %}
								<text x="0" y="30" font-family="Arial" font-size="16" fill="black"><a href="{% url 'doclink' docid=doclevelminus1 %}">{{ doclevelminus1 }}</a></text>

								{% else %}
							  	<text x="0" y="30" font-family="Arial" font-size="16" fill="black">Top</text>

								{% endif %}

							  </g>
							</svg><br>
							<!-- doclevel0-->
								<svg height="30" width="100">
								  <line x1="37" y1="0" x2="37" y2="30" style="stroke:rgb(0,0,0);stroke-width:2" />
								</svg><br>

							<svg height="35" width="200">
							  <g>
								<rect x="0" y="0" width="75" height="35" fill="green"></rect>
								<text x="0" y="15" font-family="Arial" font-size="16" fill="white">Level: 0</text>
								<text x="0" y="30" font-family="Arial" font-size="16" fill="white">{{ doclevel0 }}</text>
							  </g>
							</svg>
							<!-- doclevel1-->
							<p>

							<svg height="73" width="1000">
							  <g>
							  	{% for doclevel1 in docslevel1 %}

								<line x1="37" y1="0" x2="{{ doclevel1.4 }}" y2="38" style="stroke:rgb(0,0,0);stroke-width:2" />
								<rect x="{{ doclevel1.3 }}" y="35" width="75" height="35" fill="red"></rect>
								<text x="{{ doclevel1.3 }}" y="50" font-family="Arial" font-size="16" fill="white">Level: 1</text>
								<text x="{{ doclevel1.3 }}" y="65" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel1.1 %}">{{ doclevel1.0 }}:{{ doclevel1.1 }}</a></text>
								{% endfor %}

							  </g>

							</svg>
							</p>

							<!-- doclevel2-->
							<p>

							<svg height="80" width="1000">
							  <g>
							  	{% for doclevel2 in docslevel2 %}

								<line x1="37" y1="0" x2="{{ doclevel2.4 }}" y2="38" style="stroke:rgb(0,0,0);stroke-width:2" />
								<rect x="{{ doclevel2.3 }}" y="35" width="75" height="35" fill="purple"></rect>
								<text x="{{ doclevel2.3 }}" y="50" font-family="Arial" font-size="16" fill="white">Level: 2</text>
								<text x="{{ doclevel2.3 }}" y="65" font-family="Arial" font-size="16" fill="white"><a href="{% url 'doclink' docid=doclevel2.1 %}">{{ doclevel2.0 }}:{{ doclevel2.1 }}</a></text>
								{% endfor %}

							  </g>

							</svg></p>
							<p>Doclevel3
							{% for doclevel3 in docslevel3 %}
							<span>{{ doclevel3.0 }}:{{ doclevel3.1 }}</span>
							{% endfor %}
							</p>

		<script type="text/javascript" src="{% static 'js/doclink.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/doclink.css' %}">

	{% endblock %}
