	{% block content %}
							  <select id="companyswap" hidden>
									<option value="" ></option>
									{% for companiesrowsource in companiesrowsources %}
										<option value="{{ companiesrowsource.0 }}">{{ companiesrowsource.0 }}</option>
									{% endfor %}
							  </select>
							  <select id="dockindnameswap" hidden>
									<option value="" ></option>
									{% for dockindrowsource in dockindrowsources %}
										<option value="{{ dockindrowsource.0 }}">{{ dockindrowsource.0 }}</option>
									{% endfor %}
							  </select>


							<div class="container" style="max-height: 600px; overflow:scroll;">
										<table class="table table-striped"">
											<thead>

												<tr>
													<td>Docid</td>
													<td>Company</td>
													<td>Docnumber</td>
													<td>Created</td>
													<td>Subject</td>
												</tr>
											</thead>

											<tbody>
												{%  for tblDoc in  docs %}


													<tr>
														<td>{{ tblDoc.0 }}</td>
														<td>{{ tblDoc.4}} ({{ tblDoc.5}} {{ tblDoc.6}})</td>
														<td><a href="#" hrefdjango="{% url 'docselector' pk=tblDoc.0 %}" class="linkable">{{ tblDoc.9}}{{ tblDoc.10}}({{ tblDoc.8}})</td>
														<td>{{ tblDoc.7|date:"M.d.Y" }} {{ tblDoc.7|time:"H:i" }}</td>
														<td>{{ tblDoc.12}}</td>
													<td><a href="{% url 'docremove' pk=tblDoc.0 %}"><span class="glyphicon glyphicon-remove"></span></a></td>

													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>
	{% endblock %}
