{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}

          		<p><span>Docid:</span><span id="entrydocid">{{ doc.0.0}}</span></p>

				<p align="center" id="title" style="font-size:173%;">Email Form</p>{% csrf_token %}
						<div id="infoframe">
							<div id="sqlsaving"></div><br>
							<p >Number of Email: {{ doc.0.24 }}{{ doc.0.10 }}</p>
							<p >Creator: {{ creatordata.0.1 }} {{ creatordata.0.2 }}</p>
							<p >Time of Creation: {{ doc.0.12|date:"M.d.Y" }} {{ doc.0.12|time:"H:i" }}</p>
							<p>
								<label for="accountvalue" >Accountvalue:</label>
								<input type="text" class="updateabletbldoc" value="{{ doc.0.27}}" name="accountvalue_tbldoc" size="7">
							</p>
						</div>

					<form action="{% url 'doclink' docid=doc.0.0 %}">
						<input type="submit" value="Doclink" />
					</form>
							  <label for="subject_tbldoc" >Subject</label>
							  <input type="text" class="updateabletbldoc" value="{{ doc.0.9}}" name="subject_tbldoc" size="60"><br>

								<label for="emailbodytextmodifiedbyuser" >Body</label>
							    <textarea rows="20" cols="60" id="emailbodytextmodifiedbyuser" name="emailbodytextmodifiedbyuser">{{ doc.0.29 }}</textarea><br>
							<div class="container">
										<table class="table table-striped"">
											<thead>
												<tr>
													<td>Attachmentname</td>
												</tr>
											</thead>

												{%  for docdetail in  docdetails %}
													<tbody>
															<tr>
																<td><a href="{% url 'emailviewattachment' pk=docdetail.0 %}">{{ docdetail.1 }}</a></td>
															</tr>
													</tbody>
												{% endfor %}

										</table>
							</div>


				<script type="text/javascript" src="{% static 'js/accountentry.js' %}"></script>
                <link rel="stylesheet" href="{% static 'css/accountentry.css' %}">

	{% endblock %}
