{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}

          		<p><span>Docid:</span><span id="jobnumberdocid">{{ doc.0.0}}</span></p>

				<p align="center" id="title" style="font-size:173%;">Jobnumber Form</p>{% csrf_token %}
						<div id="infoframe">
							<div id="sqlsaving"></div><br>
							<p >Number of Job: {{ doc.0.24 }}{{ doc.0.10 }}</p>
							<p >Creator: {{ creatordata.0.1 }} {{ creatordata.0.2 }}</p>
							<p >Time of Creation: {{ doc.0.12|date:"M.d.Y" }} {{ doc.0.12|time:"H:i" }}</p>
						</div>

					<form action="{% url 'doclink' docid=doc.0.0 %}">
						<input type="submit" value="Doclink" />
					</form>
					<form action="{% url 'accountincomestatement' %}">
						<input type="submit" value="Income Statement" />
					</form>

							  <label for="subject_tbldoc" >Subject</label>
							  <input type="text" class="updateabletbldoc" value="{{ doc.0.9}}" name="subject_tbldoc" >


				<script type="text/javascript" src="{% static 'js/jobnumber.js' %}"></script>
                <link rel="stylesheet" href="{% static 'css/jobnumber.css' %}">

	{% endblock %}
