{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}
          

							{% csrf_token %}


							<p align="center" style="font-size:160%;">POhandler Form</p>

							<input id="aux1" type="text" value="" hidden>

							<p id="feedback">
							<span>You've selected:</span> <span id="select-resultarrivaldates">none</span>.
							</p>



							<label for="from" >From</label>
							<input id="fromdate" type="text" value="" name="from" maxlength="50" size="10">

							<label for="to" >To</label>
							<input id="todate" type="text" value="" name="to" maxlength="50" size="10">

							<button id="pohandlersearchbutton" type="submit">
							   <span class="glyphicon glyphicon-filter"></span>
							</button>

							<button id="pohandlersearchoutbutton" type="button">
							   <span class="glyphicon glyphicon-trash"></span>
							</button>

							<button id="pohandlerreceptionbutton" type="submit">
							   <span>Reception</span>
							</button>
							{% block sidebar %}
								{% csrf_token %}
							<ol id="selectablearrivaldates">Arrival dates:

							</ol>
							{% endblock sidebar %}

							Filling Date: <input id="fillingdate" type="text" value="" maxlength="50" size="10">

							<div id="dialog-form" title="Split Item">

							  <form>
								<fieldset>
								  <label for="qty">New Qty</label>
								  <input type="text" name="qty" id="qtydialog" class="text ui-widget-content ui-corner-all">
								<p>Rowid: <span id="rowid"></span></p>
								  <!-- Allow form submission with keyboard without duplicating the dialog button -->
								  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
								</fieldset>
							  </form>
							</div>
							<span id="pohandlertemplate" ></span>

		<script type="text/javascript" src="{% static 'js/pohandler.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/pohandler.css' %}">

	{% endblock %}
