<!--

{% load staticfiles%}
-->

	{% block content %}
          

				<p id="customerordersnumber" customerordersnumber="{{ customerordersnumber }}" hidden></p>

							{% csrf_token %}

							<div class="table-responsive text-nowrap">
										<table class="table table-striped">
											<thead>

												<tr>
													<td  class="col-sm-1">PO Docid</td>

													<td class="col-sm-1">PO Detailsid</td>
													<td class="col-sm-1">PO Docnumber</td>

													<td class="col-sm-1">POtoCOR Detailslink</td>

													<td>Supplier</td>

													<td>Customer</td>

													<td>Customer Description</td>
													<td>Supplier Description</td>
													<td>Date of Arrival</td>

												</tr>
											</thead>

											<tbody>
												 {%  for po in  pos %}


													<tr>
														<td>{{ po.34}}</td>

														<td>{{ po.0}}</td>
														<td><a href="{% url 'purchaseorderform' pk=po.34 %}">{{ po.35}}{{ po.36}}</a></td>

														<td>{{ po.26}}</td>

														<td>{{ po.33}}</td>

														<td><a href="{% url 'customerorderform' pk=po.27 %}">{{ po.30}}{{ po.29}}/{{ po.26}}</a> {{ po.31}}</td>

														<td>{{ po.3}}</td>
														<td>{{ po.25}}</td>
														<td><input type="text" class="updateable" name2="dateofarrivalinput" value="{{ po.32|date:'Y-m-d'}}" name="dateofarrival_tbldocdetails" rowid="{{ po.0}}"></td>
														<td>
															<button class="pohandlerarrivalbutton" type="submit" rowid="{{ po.0}}">
															   <span>A</span>
															</button
														</td>

													</tr>



												{% endfor %}

											</tbody>

										</table>

							</div>
<!--
							<button id="purchaseordermakebutton" type="submit">
							   <span>Make Purchase Order</span>
							</button>
-->
<!--
		<script type="text/javascript" src="{% static 'js/pohandler.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/pohandler.css' %}">
-->
	{% endblock %}
