{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}
          

							{% csrf_token %}


							<p align="center" style="font-size:160%;">POhandler Form</p>

							<label for="from" >From</label>
							<input id="fromdate" type="text" value="" name="from" maxlength="50" size="10">

							<label for="to" >To</label>
							<input id="todate" type="text" value="" name="to" maxlength="50" size="10">

							<button id="pohandlersearchbutton" type="submit">
							   <span class="glyphicon glyphicon-filter"></span>
							</button>

							<button id="pohandlersearchoutbutton" type="button">
							   <span class="glyphicon glyphicon-trash"></span>
							</button>

							<button id="receptionbutton" type="submit">
							   <span>Reception</span>
							</button>
							{% block sidebar %}
								{% csrf_token %}
							<ol id="selectable">Arrival dates:

							</ol>
							{% endblock sidebar %}

							Filling Date: <input id="fillingdate" type="text" value="" maxlength="50" size="10">

							<span id="pohandlertemplate" ></span>
		<script type="text/javascript" src="{% static 'js/pohandler.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/pohandler.css' %}">

	{% endblock %}
