{% load staticfiles%}
	{% block content %}
          

				<p align="center" id="title" style="font-size:160%;">Quotation Newrow Add Form</p>{% csrf_token %}
							<div class="container" style="max-height: 200px; overflow:scroll;">
										<table class="table table-striped">
											<thead>

												<tr>
													<td>Time Entry/Issue Id</td>
													<td>Project Name</td>
													<td>User Name</td>
													<td>Activity Name</td>
													<td>Hours</td>
													<td>Comments</td>
													<td>Spent On</td>
												</tr>
											</thead>

											<tbody>
												{%  for xmlitem in  xmlitems %}

													<tr>
														<td  >{{ xmlitem.0.text }}/{{ xmlitem.2.attrib.id }}</td>
														<td  >{{ xmlitem.1.attrib.name }}</td>
														<td  >{{ xmlitem.3.attrib.name }}</td>
														<td  >{{ xmlitem.4.attrib.name }}</td>
														<td  >{{ xmlitem.5.text }}</td>
														<td  >{{ xmlitem.6.text }}</td>
														<td  >{{ xmlitem.7.text }}</td>
													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>

											<script type="text/javascript" src="{% static 'js/quotation.js' %}"></script>

	{% endblock %}
