{% load staticfiles%}
	{% block content %}


				<p id="auxfunctionfordatespentondefaultfill" hidden></p>

				<p align="center" id="title" style="font-size:160%;">Time Entry Items</p>{% csrf_token %}

							<p align="right"><a href="{% url 'docadd' %}"><span class="glyphicon glyphicon-plus"></span></a></p>

							<button id="filterbutton" type="submit">
							   <span class="glyphicon glyphicon-filter"></span>
							</button>

							<button id="filteroutbutton" type="button">
							   <span class="glyphicon glyphicon-trash"></span>
							</button>

							<button id="timeentriestoquotationbutton" type="button">
							   <span class="glyphicon glyphicon-arrow-down"></span>
							</button>
							<br>

							<label for="activityname" >Activity Name</label>
							<select id="activityname"> <!-- Swapped from timeentriescontent.html-->
									<option value="" ></option>
										<option value="arbitrary">arbitrary</option>
							</select>
							<br>
							<label for="addfilterselect" >Add Filter</label>
							<select id="addfilterselect">
									<option value="" ></option>
									{% for addfilterselectvaluesandoption in addfilterselectvaluesandoptions %}
										<option value="{{addfilterselectvaluesandoption.1}}">{{addfilterselectvaluesandoption.0}}</option>
									{% endfor %}
							</select>
							<p id="filtertemplate" ></p>

							<hr>
							<p id="timeentrysearchtemplate" ></p>
							<p id="filteritemlistelementvaluesaccumulatortemplate" ></p>
	{% endblock %}