	{% block content %}

							  <p id="numberoftimeentries" >Number of Time Entries:{{ issuetrackingsystemnumberofitems}}</p>
	      					  <p id="issuetrackingsystemnumberofitems" hidden>{{ issuetrackingsystemnumberofitems}}</p>

							  <select id="projectnameswap" hidden >
									<option value="" ></option>
									{% for projectnamerowsource in projectnamerowsources %}
										<option value="{{projectnamerowsource.0}}">{{projectnamerowsource.0}}</option>
									{% endfor %}
							  </select>
							  <select id="usernameswap" hidden>
									<option value="" ></option>
									{% for usernamerowsource in usernamerowsources %}
										<option value="{{usernamerowsource.1}}">{{usernamerowsource.0}}</option>
									{% endfor %}
							  </select>
							  <select id="activitynameswap" hidden>
									<option value="" ></option>
									{% for activitynamerowsource in activitynamerowsources %}
										<option value="{{activitynamerowsource.1}}">{{activitynamerowsource.0}}</option>
									{% endfor %}
							  </select>


							<div class="table-responsive text-nowrap" style="max-height: 200px; overflow:scroll;">
										<table class="table table-striped"">
											<thead>

												<tr>
													<td>Time Entry/Issue Id</td>
													<td>Project Name-Id</td>
													<td>User Name-Id</td>
													<td>Activity Name-Id</td>
													<td>Hours</td>
													<td>Comments</td>
													<td>Spent On</td>
													<td>Quoteddocnumber/docdetailsid</td>
												</tr>
											</thead>

											<tbody>
												{%  for tblDoc in  docs %}
													<p class="timeentryid" rowid="{{ forloop.counter0 }}" hidden>{{ tblDoc.1 }}</p>


													<tr>
														<td  class="timeentryandissueid" rowid="{{ forloop.counter0 }}">{{ tblDoc.1 }}/{{ tblDoc.3 }}</td>
														<td  class="projectname" rowid="{{ forloop.counter0 }}">{{ tblDoc.2 }}-{{ tblDoc.9 }}</td>
														<td  class="username" rowid="{{ forloop.counter0 }}">{{ tblDoc.4 }}-{{ tblDoc.10 }}</td>
														<td  class="activityname" rowid="{{ forloop.counter0 }}">{{ tblDoc.5 }}-{{ tblDoc.11 }}</td>
														<td  class="hours" rowid="{{ forloop.counter0 }}">{{ tblDoc.6 }}</td>
														<td  class="comments" rowid="{{ forloop.counter0 }}">{{ tblDoc.7 }}</td>
														<td  class="spenton" rowid="{{ forloop.counter0 }}">{{ tblDoc.8 }}</td>
														<td  class="quotedids" rowid="{{ forloop.counter0 }}">{{ tblDoc.14 }}/{{ tblDoc.13 }}</td>
													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>
	{% endblock %}
