{% load static %}
<html>

		<head>
			<title>Quotation Maker</title>
			<link rel="stylesheet" href="{% static 'css/quotationprint.css' %}">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	   </head>
    <body>

		<div class="page">
				<img id="logo" src="{% static "pic/abstract-logos.png" %}" alt="Logo header template" ">
				<p class="companyname">{{ doc.0.3}} </p>
				<p class="contactname">To: {{ doc.0.4}} {{ doc.0.5}} </p>
				<p id="itemnumberp" itemnumber="{{ docdetailscount }}" hidden></p>
				  <textarea rows="8" cols="50" class="preface" name="preface_tbldoc" wrap="off" disabled>
					{{ doc.0.6}}
				  </textarea>
				<div class="footerdiv" >
					<hr>
					<span class="footerspan1">Please see the conditions in details on the last page<br></span>
					<span class="footerspan1" pagenumber="1">Description2</span>
				</div>
		</div>
						{% for tblDoc_details in docdetails %}
						<span name="htmlinsertbefore" rowid="{{ forloop.counter0 }}"></span>
						<div rowid="{{ forloop.counter0 }}" class="item-container">

									<span  class="chapternumbersspan" name="firstnum_tblDoc_details">{{tblDoc_details.4}}.</span>

									{% if tblDoc_details.6 > 0 or tblDoc_details.7 > 0 or tblDoc_details.5 > 0%}
									<span  class="chapternumbersspan" name="secondnum_tblDoc_details">{{tblDoc_details.6}}.</span>
									{% endif %}

									{% if tblDoc_details.7 > 0 or tblDoc_details.5 > 0 %}
									<span class="chapternumbersspan" name="thirdnum_tblDoc_details">{{tblDoc_details.7}}.</span>
									{% endif %}

									{% if tblDoc_details.5 > 0 %}
									<span class="chapternumbersspan" name="fourthnum_tblDoc_details">{{tblDoc_details.5}}.</span>
									{% endif %}
									<br>
										<div  class="descriptiondiv">
												<p   name="Product_description_tblProduct_ctblDoc_details">{{ tblDoc_details.3}}</p>
										</div>
										<div  class="qtydiv">
												<p   name="Qty_tblDoc_details">{{ tblDoc_details.1}}</p>
										</div>

						</div>
						<span name="htmlinsertafter" rowid="{{ forloop.counter0 }}"></span>
						{% endfor %}





		<script type="text/javascript" src="{% static 'js/quotationprint.js' %}"></script>
   </body>
</html>
