{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}

          		<p><span>Docid:</span><span id="quotationdocid">{{ doc.0.0}}</span></p>
				<span id="quotationtemplate" ></span>

				<p>Contactid:{{ doc.0.1}} hidden</p>


				<p align="center" id="title" style="font-size:173%;">Quotation Form</p>{% csrf_token %}
						<div id="infoframe">
							<p >Number of Quotation: CQ-{{ doc.0.10 }}</p>
							<p >Creator: {{ creatordata.0.1 }} {{ creatordata.0.2 }}</p>
							<p >Time of Creation: {{ doc.0.12|date:"M.d.Y" }} {{ doc.0.12|time:"H:i" }}</p>
						</div>
						<div id="tabs1">
						  <ul>
							<li><a href="#tabs1fragment-1">Company</a></li>
							<li><a href="#tabs1fragment-2">New Docs</a></li>

						  </ul>
						  <div id="tabs1fragment-1">
								<p>Company:{{ doc.0.3}} Companyid:{{ companyid.0.0}}<a href="{% url 'companyedit' pk=companyid.0.0 %}"><span class="glyphicon glyphicon-arrow-right"></span></a></p>
								<p>{{ doc.0.16}} {{ doc.0.17}} {{ doc.0.18}}</p>
								<p>Contact: {{ doc.0.13}} {{ doc.0.4}} {{ doc.0.5}}</p>
								<p>Mobile: {{ doc.0.14}} Email: {{ doc.0.15}}</p>


						  </div>
						  <div id="tabs1fragment-2">
								<p>Lastname:{{ doc.0.5}} </p>
						  </div>
						</div>
					<div id="sqlsaving"></div><br>
			{% block sidebar %}
				{% csrf_token %}
				<input type="text" id="search" name="search" />

				<ul id="search-results" style="list-style-type: none;">


				</ul>
			{% endblock sidebar %}
					<form action="{% url 'quotationprint' docid=doc.0.0 %}">
						<input type="submit" value="Print" />
					</form>


						<div id="tabs2">
						  <ul>
							<li><a href="#tabs2fragment-1">Quotation</a></li>
							<li><a href="#tabs2fragment-2">Items</a></li>
						    <li><a href="#tabs2fragment-3">Preface</a></li>
							<li><a href="#tabs2fragment-4">Backpage</a></li>

						  </ul>
						  <div id="tabs2fragment-1">
							  <label for="prefacespecforquotation_tbldoc" >Prefacespec</label>
							  <textarea rows="10" cols="60" class="updateabletbldoc" name="prefacespecforquotation_tbldoc">{{ doc.0.8}}</textarea>
							  <label for="subject_tbldoc" >Subject</label>
							  <input type="text" class="updateabletbldoc" value="{{ doc.0.9}}" name="subject_tbldoc" >
							  <div id="total">
								  	<select class="selection" fieldname="total_tbldoc" >
										<option value="" disabled selected>{{ doc.0.19}}</option>
										<option value="Total_Off">Total_Off</option>
										<option value="Total_On">Total_On</option>
									</select>
							  </div>
							  <div id="deliverydays">
								  <label for="deliverydays_tbldoc" >Deliverydays:</label>
								  <input type="text" class="updateabletbldoc" value="{{ doc.0.20}}" name="deliverydays_tbldoc" size="3">
							  </div>


						  </div>
						  <div id="tabs2fragment-2">


							  <p  align="right">
								<input type="text" value="{{ nextchapternums.0 }}" id="nextfirstnumonhtml" maxlength="10" size="2">
								<input type="text" value="{{ nextchapternums.1 }}" id="nextsecondnumonhtml" maxlength="10" size="2">
								<input type="text" value="{{ nextchapternums.2 }}" id="nextthirdnumonhtml" maxlength="10" size="2">
								<input type="text" value="{{ nextchapternums.3 }}" id="nextfourthnumonhtml" maxlength="10" size="2">
								<a href="#" ><span id="newquotationrowsignonhtml" class="glyphicon glyphicon-arrow-down"></span></a>

							  </p>


											<label for="Productid_tblDoc_details_id" >Prid</label>
											<label for="Doc_detailsid_tblDoc_details" style="padding-left: 17px;">Ddetid</label>
											<label for="firstnum_tblDoc_details" >C1</label>
											<label for="secondnum_tblDoc_details" style="padding-left: 23px;">C2</label>
											<label for="thirdnum_tblDoc_details" style="padding-left: 24px;">C3</label>
											<label for="fourthnum_tblDoc_details" style="padding-left: 24px;">C4</label>
											<label for="Qty_tblDoc_details" style="padding-left: 24px;">Qty</label>
											<label for="Productid_tblDoc_details_id" style="padding-left: 24px;">Description</label>
											<label for="Note_tblDoc_details" style="padding-left: 21px;">Note</label>
											<label for="purchase_price_tblproduct_ctblDoc_details" style="padding-left: 19px;">Purchaseprice</label>
											<label for="listprice_tblDoc_details" style="padding-left: 9px;">listprice</label>
											<label for="currencyisocode_tblcurrency_ctblproduct_ctblDoc_details" style="padding-left: 33px;">Currencycode</label><br>

											{% for tblDoc_details in  docdetails %}
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.13}}" name="Productid_tblDoc_details_id" maxlength="10" rowid="{{ tblDoc_details.0}}" size="2" disabled>
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.14}}" name="Doc_detailsid_tblDoc_details" maxlength="10" rowid="{{ tblDoc_details.0}}" size="2" disabled>
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.4}}" name="firstnum_tblDoc_details" maxlength="10" rowid="{{ tblDoc_details.0}}" size="2">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.6}}" name="secondnum_tblDoc_details" maxlength="10" rowid="{{ tblDoc_details.0}}" size="2">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.7}}" name="thirdnum_tblDoc_details" maxlength="10" rowid="{{ tblDoc_details.0}}" size="2">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.5}}" name="fourthnum_tblDoc_details" maxlength="10" rowid="{{ tblDoc_details.0}}" size="2">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.1}}" name="Qty_tblDoc_details" rowid="{{ tblDoc_details.0}}" size="2">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.3}}" name="Product_description_tblProduct_ctblDoc_details" rowid="{{ tblDoc_details.0}}" size="9">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.8}}"  name="Note_tblDoc_details" rowid="{{ tblDoc_details.0}}" size="3">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.10}}" name="purchase_price_tblproduct_ctblDoc_details" rowid="{{ tblDoc_details.0}}" size="10">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.11}}" name="listprice_tblDoc_details" rowid="{{ tblDoc_details.0}}" size="10">
											<input type="text" class="updateabletbldocdetails" value="{{ tblDoc_details.12}}" name="currencyisocode_tblcurrency_ctblproduct_ctblDoc_details" rowid="{{ tblDoc_details.0}}" size="9" disabled>
											<a href="{% url 'quotationrowremove' pk=tblDoc_details.0 %}"><span class="glyphicon glyphicon-remove"></span></a><a href="#"><span class="glyphicon glyphicon-arrow-right" name="quotationproductforrow" rowid="{{ tblDoc_details.0}}"></span></a>

											<!-- if exists the product in product table then jump to product (the glyphicon is visible otherwise missing) -->
											{% if tblDoc_details.15 > 0 %}
											<a href="{% url 'products' pkproductid=tblDoc_details.13 %}"><span class="glyphicon glyphicon-filter" ></span></a><br><hr>
											{% else %}
											<br><hr>
											{% endif %}


											{% endfor %}

						  </div>
						  <div id="tabs2fragment-3">
							  <label for="prefacetextforquotation_tblprefaceforquotation_ctbldoc" >Preface</label>
							  <textarea rows="8" cols="50" class="updateabletbldoc" name="prefacetextforquotation_tblprefaceforquotation_ctbldoc">{{ doc.0.6}}</textarea>

						  </div>
						  <div id="tabs2fragment-4">
							  <label for="backpagetext_tbldoc" >Backpage</label>
							  <textarea rows="8" cols="50" class="updateabletbldoc" name="backpagetextforquotation_tblbackpageforquotation_ctbldoc">{{ doc.0.7}}</textarea>
						  </div>

				<script type="text/javascript" src="{% static 'js/quotation.js' %}"></script>
                <link rel="stylesheet" href="{% static 'css/quotation.css' %}">

	{% endblock %}
