{% load staticfiles%}
	{% block content %}
          
				<p id="issuetrackingsystemnumberofitems" hidden>{{ issuetrackingsystemnumberofitems}}</p>

				<p align="center" id="title" style="font-size:160%;">Time Entry Items</p>{% csrf_token %}
							<div class="container" style="max-height: 200px; overflow:scroll;">
										<table class="table table-striped">
											<thead>

												<tr>
													<td>Time Entry/Issue Id</td>
													<td>Project Name</td>
													<td>User Name</td>
													<td>Activity Name</td>
													<td>Hours</td>
													<td>Comments</td>
													<td>Spent On</td>
												</tr>
											</thead>

											<tbody>
												<button class="timeentriestoquotationbutton" type="submit" rowid="{{ po.0}}">
												   <span>Time Entries to Quotation</span>
												</button>

												{%  for xmlitem in  xmlitems %}

													<tr>
														<td  class="timeentryandissueid" rowid="{{ forloop.counter0 }}">{{ xmlitem.0 }}/{{ xmlitem.2 }}</td>
														<td  class="projectname" rowid="{{ forloop.counter0 }}">{{ xmlitem.1 }}</td>
														<td  class="username" rowid="{{ forloop.counter0 }}">{{ xmlitem.3 }}</td>
														<td  class="activityname" rowid="{{ forloop.counter0 }}">{{ xmlitem.4 }}</td>
														<td  class="hours" rowid="{{ forloop.counter0 }}">{{ xmlitem.5 }}</td>
														<td  class="comments" rowid="{{ forloop.counter0 }}">{{ xmlitem.6 }}</td>
														<td  class="spenton" rowid="{{ forloop.counter0 }}">{{ xmlitem.7 }}</td>
													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>
	{% endblock %}
