{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}
          
				<p id="rowsnumber" rowsnumber="{{ rowsnumber }}" hidden></p>
				<p id="customerordernumber" customerordernumber="{{ customerordernumber }}" hidden></p>

							{% csrf_token %}

							<p align="center" style="font-size:160%;">Stock</p>
							<p align="right"><a href="{% url 'docadd' %}"><span class="glyphicon glyphicon-plus"></span></a></p>

							<div class="table-responsive text-nowrap">
										<table class="table table-striped"">
											<thead>

												<tr>
													<td>Productid</td>
													<td>Customerdescription</td>
													<td>Supplierdescription</td>
													<td>On StockIngoing</td>
													<td>On StockOutgoing</td>
													<td>On Stock</td>

												</tr>
											</thead>

											<tbody>
												 {%  for docdetail in  docdetails %}
													{% if docdetail.5 != 0 %}

														<tr>
															<td>{{ docdetail.1}}</td>
															<td>{{ docdetail.0}}</td>
															<td>{{ docdetail.2}}</td>

															<td >{{ docdetail.3}}</td>
															<td>{{ docdetail.4}}</td>

															<td name="onstock" productid="{{ docdetail.1}}" loopid="{{ forloop.counter }}" >{{ docdetail.5}}</td>


														</tr>
												    {% endif %}
												{% endfor %}

											</tbody>

										</table>

							</div>

		<script type="text/javascript" src="{% static 'js/stock.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/stock.css' %}">

	{% endblock %}
