{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}
          
				<p id="rowsnumber" rowsnumber="{{ rowsnumber }}" hidden></p>
				<p id="customerordernumber" customerordernumber="{{ customerordernumber }}" hidden></p>

							{% csrf_token %}

							<p align="center" style="font-size:160%;">Stock</p>
							<p align="right"><a href="{% url 'docadd' %}"><span class="glyphicon glyphicon-plus"></span></a></p>

							<div class="table-responsive text-nowrap">
										<table class="table table-striped"">
											<thead>

												<tr>
													<td>Productid</td>
													<td>Supplier</td>
													<td>Customerdescription</td>
													<td>Supplierdescription</td>
													<td>Label</td>
													<td>In</td>
													<td>Out</td>
													<td>Stockid</td>

												</tr>
											</thead>

											<tbody>
												 {%  for docdetail in  docdetails %}
													{% if docdetail.5 != 0 %}

														<tr>
															<td>{{ docdetail.1}}</td>
															<td>{{ docdetail.11}}</td>
															<td>{{ docdetail.0}}</td>
															<td>{{ docdetail.2}}</td>

															<td >{{ docdetail.3}}</td>
															<td>{{ docdetail.4}}</td>
															<td>{{ docdetail.5}}</td>
															<td>{{ docdetail.6}}</td>

															<td>
																<button class="labelbutton" type="submit" productid="{{ docdetail.1}}">
																   <span>L</span>
																</button
															</td>


														</tr>
												    {% endif %}
												{% endfor %}

											</tbody>

										</table>

							</div>

							<div id="dialog-message" title="Download complete">
							  <p>
									<span id="stocklabellisttemplate" ></span>
							  </p>
							</div>

		<script type="text/javascript" src="{% static 'js/stock.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/stock.css' %}">

	{% endblock %}
