{% extends 'quotation/base.html' %}
{% load staticfiles%}
	{% block content %}
          



							<p align="center" style="font-size:160%;">Supplier Order Preparation Form</p>
							<p align="right"><a href="{% url 'docadd' %}"><span class="glyphicon glyphicon-plus"></span></a></p>

							<div class="container">
										<table class="table table-striped"">
											<thead>

												<tr>
													<td>COR Number</td>
													<td>C1</td>
													<td>Date</td>
													<td>Docid</td>
													<td>Customer</td>

													<td>Supplier</td>
													<td>Currency</td>
												</tr>
											</thead>

											<tbody>
												 {%  for customerorder in  customerorders %}


													<tr>
														<td>{{ customerorder.25}}{{ customerorder.10}}</td>
														<td>{{ customerorder.27}}</td>
														<td>{{ customerorder.12|date:"M.d.Y"}}</td>
														<td>{{ customerorder.0}}</td>
														<td>{{ customerorder.3}}</td>
														<td>{{ customerorder.40}}</td>
														<td>{{ customerorder.36}}</td>

													</tr>



												{% endfor %}

											</tbody>

										</table>
							</div>
		<script type="text/javascript" src="{% static 'js/supplierorderpre.js' %}"></script>
	{% endblock %}
