	{% block content %}
          



		{% csrf_token %}

		<p >Number of Items:{{numberofitems}}</p>
		<p id="sqlsavingfeedbackproduct"></p><br>

			<div class="table-responsive text-nowrap" style="max-height: 600px; overflow:scroll;">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>Time Done Id</td>
									<td>Project Id</td>
									<td>Project Name</td>
									<td>User Id</td>
									<td>User Name</td>
									<td>Issue Id</td>
									<td>Issue Subject</td>
									<td>Comments</td>

									<td>Hours</td>
									<td>Spenton</td>
								</tr>
							</thead>
							<tbody>


			{% for timedone in timedones %}
								<tr>
									<td><input type="text" value="{{timedone.0}}" maxlength="10" timedoneid="{{timedone.0}}" size="3" disabled></td>
									<td><input type="text" class="projectid" value="{{timedone.2}}" maxlength="10" timedoneid="{{timedone.0}}" size="3" disabled></td>
									<td>
										<select class="projectselection" timedoneid="{{timedone.0}}">
												<option value="" disabled selected>{{timedone.3}}</option>
											{% for projectnamerowsource in projectnamerowsources %}
												<option value="{{ projectnamerowsource.0 }}">{{ projectnamerowsource.1}}</option>
											{% endfor %}
										</select>
									</td>
									<td><input type="text" class="userid" value="{{timedone.4}}" maxlength="10" timedoneid="{{timedone.0}}" size="3" disabled></td>
									<td>
										<select class="userselection" timedoneid="{{timedone.0}}">
												<option value="" disabled selected>{{timedone.5}}</option>
											{% for usernamerowsource in usernamerowsources %}
												<option value="{{ usernamerowsource.0 }}">{{ usernamerowsource.1}}</option>
											{% endfor %}
										</select>
									</td>
									<td><input type="text" class="issueid" value="{{timedone.6}}" maxlength="10" timedoneid="{{timedone.0}}" size="3" disabled></td>
									<td>
										<select class="issueselection" timedoneid="{{timedone.0}}">
												<option value="" disabled selected>{{timedone.7}}</option>
											{% for issuerowsource in issuerowsources %}
												<option value="{{ issuerowsource.0 }}">Iss/PrId:{{ issuerowsource.0}}/{{ issuerowsource.2}} {{ issuerowsource.1}}</option>
											{% endfor %}
										</select>
									</td>
									<td><input type="text" class="updateable" value="{{timedone.8}}" name="comments_tbltimedone" maxlength="10" timedoneid="{{timedone.0}}" size="13"></td>

									<td><input type="text" class="updateable" value="{{timedone.1}}" name="hours_tbltimedone" maxlength="10" timedoneid="{{timedone.0}}" size="3"></td>
									<td><input type="text" class="updateable" value="{{timedone.9}}" name="spenton_tbltimedone" maxlength="10" timedoneid="{{timedone.0}}" size="8"></td>

								</tr>

			{% endfor %}

							</tbody>
						</table>
			</div>



	{% endblock %}
