	{% block content %}
							  <select id="companyswap" hidden >
									<option value="" ></option>
									{% for companiesrowsource in companiesrowsources %}
										<option value="companiesrowsource.0">companiesrowsource.0</option>
									{% endfor %}
							  </select>
							  <select id="dockindnameswap" hidden>
									<option value="" ></option>
									{% for dockindrowsource in dockindrowsources %}
										<option value="dockindrowsource.0">dockindrowsource.0</option>
									{% endfor %}
							  </select>


							<div class="table-responsive text-nowrap" style="max-height: 600px; overflow:scroll;">
										<table class="table table-striped"">
											<thead>

												<tr>
													<td>Time Entry/Issue Id</td>
													<td>Project Name</td>
													<td>User Name</td>
													<td>Activity Name</td>
													<td>Hours</td>
													<td>Comments</td>
													<td>Spent On</td>
												</tr>
											</thead>

											<tbody>
												{%  for tblDoc in  docs %}


													<tr>
														<td  class="timeentryandissueid" rowid="{{ forloop.counter0 }}">{{ tblDoc.1 }}/{{ tblDoc.3 }}</td>
														<td  class="projectname" rowid="{{ forloop.counter0 }}">{{ tblDoc.2 }}</td>
														<td  class="username" rowid="{{ forloop.counter0 }}">{{ tblDoc.4 }}</td>
														<td  class="activityname" rowid="{{ forloop.counter0 }}">{{ tblDoc.5 }}</td>
														<td  class="hours" rowid="{{ forloop.counter0 }}">{{ tblDoc.6 }}</td>
														<td  class="comments" rowid="{{ forloop.counter0 }}">{{ tblDoc.7 }}</td>
														<td  class="spenton" rowid="{{ forloop.counter0 }}">{{ tblDoc.8 }}</td>
													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>
	{% endblock %}
