	{% block content %}
				{% csrf_token %}
							<div>
										<table>
											<thead>

												<tr>
													<td>
													</td>
												</tr>
											</thead>

											<tbody>
												{%  for docdetail in  docdetails %}

													<tr>
														<td>
															<div class="productframeincart">

																{% if docdetail.1 >= docdetail.27 %} <!-- if MAX qty then increase button disabled-->
																	<button class="productincreasebutton" docdetailsid="{{ docdetail.0 }}" type="submit" disabled>
																	   <span class="glyphicon glyphicon-plus"></span>
																	</button>
																{% else %}
																	<!-- this row is from times when increasing button was enabled <button class="productincreasebutton" docdetailsid="{{ docdetail.0 }}" type="submit"> -->
																	<button class="productincreasebutton" docdetailsid="{{ docdetail.0 }}" type="submit" disabled>
																	   <span class="glyphicon glyphicon-plus"></span>
																	</button>
																{% endif %}

																	<!-- this row is from times when decreasing button was enabled <button class="productdecreasebutton" docdetailsid="{{ docdetail.0 }}" type="submit"> -->
																	<button class="productdecreasebutton" docdetailsid="{{ docdetail.0 }}" type="submit" disabled>
																	   <span class="glyphicon glyphicon-minus"></span>
																	</button>

																	<a href="#" ><span class="glyphicon glyphicon-remove productremovebutton" docdetailsid="{{ docdetail.0 }}"></span></a>
																	<div class="qtydiv">
																		<span class="qty" docdetailsid="{{ docdetail.0 }}"><span class="qtynumber" docdetailsid="{{ docdetail.0 }}">{{ docdetail.1 }}</span>{{ docdetail.23 }}</span>
																{% if docdetail.1 >= docdetail.27 %} <!-- if MAX qty then maxtag not hidden-->
																		<span class="maxtag" docdetailsid="{{ docdetail.0 }}" >MAX</span>
																{% else %}
																		<span class="maxtag" docdetailsid="{{ docdetail.0 }}" hidden>MAX</span>
																{% endif %}
																		<span name="maxqtyincart" docdetailsid="{{ docdetail.0 }}" hidden>{{ docdetail.27 }}</span>
																	</div>
																	<div class="pricediv">
																		<span class="salesprice" docdetailsid="{{ docdetail.0 }}">{{ docdetail.26 }} </span>
																		<span class="iso" docdetailsid="{{ docdetail.0 }}">{{ docdetail.12 }}</span>
																		<span class="unitsalespriceACU" docdetailsid="{{ docdetail.0 }}" hidden>{{ docdetail.11 }}</span>
																	</div>

																	{{ docdetail.4 }}. {{ docdetail.3 }}
															</div>
														</td>
													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>
	{% endblock %}
