{% load staticfiles %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>nahtml</title>
  </head>
  <body>
				<img id="aidlogo" src="https://drive.google.com/uc?export=view&id=1hI_SN7Uj9GEpkHdxt_gVYn6UIkjR4ACf" alt="Logo header template">
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA
AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />

            <p >Thank you for your order from Aid!</p>

  {{ foo }}
								  	<select name="total_tbldoc" >
										<option value="1" disabled selected>1</option>
										<option value="Total_Off">Total_Off</option>
										<option value="Total_On">Total_On</option>
									</select>
	<link rel="stylesheet" href="{% static 'css/acustomeracknowledgementemail.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="fa fa-star checked"></span>

  </body>
</html>
