	{% block content %}
				{% csrf_token %}
							<div>
										<table>
											<thead>

												<tr>
													<td>
													</td>
												</tr>
											</thead>

											<tbody>
												{%  for docdetail in  docdetails %}

													<tr>
														<td>
															<div class="productframeincart">
																<a href="#" ><span class="glyphicon glyphicon-plus productincreasebutton" docdetalsid="{{ docdetail.0 }}"></span></a>
																<a href="#" ><span class="glyphicon glyphicon-minus productdecreasebutton" docdetalsid="{{ docdetail.0 }}"></span></a>
																<a href="#" ><span class="glyphicon glyphicon-remove productremovebutton" docdetalsid="{{ docdetail.0 }}"></span></a>
																<span class="qty">{{ docdetail.1 }}<span x="unit">{{ docdetail.23 }}</span></span>
																<span class="priceandiso">{{ docdetail.26 }} {{ docdetail.12 }}</span>
																{{ docdetail.4 }}. {{ docdetail.3 }}
															</div>
														</td>
													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>
	{% endblock %}
