{% extends 'aid/abase.html' %}
 	{% block content %}

				    <p id="formtitle" align="center" style="font-size:260%">Docadd Form</p>

                    <p onclick="$(this).hide();"> This is an inner jq</p>
                    <p id="para" > This is an external jq</p>


                            <form action="{% url 'adocadd' %}" method="post">{% csrf_token %}
                                <select name="dockindidfornewdoc">
                                    {% for dockind in  dockinds %}
                                        <option value="{{ dockind.0}}">{{ dockind.0}} {{ dockind.1}}</option>
                                    {% endfor %}
                                </select><br>
                                <select name="contactidfornewdoc">
                                    {% for contact in contacts %}
                                        <option value="{{ contact.0}}">{{ contact.0}} {{ contact.1}} {{ contact.2}} {{ contact.3}}</option>
                                    {% endfor %}
                                </select><br>
                                <input type="submit" value="Make a new doc">
				            </form>
      <script>
         paypal.Buttons({
            createOrder: function(data, actions) {
              // This function sets up the details of the transaction, including the amount and line item details.
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: '100.00'
                  }
                }]
              });
            },
            onApprove: function(data, actions) {
              // This function captures the funds from the transaction.
              return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
              });
            }
          }).render('#paypal-button-container');
          //This function displays Smart Payment Buttons on your web page.
        </script>

	{% endblock %}

