	{% block content %}
							  <select id="companyswap" hidden >
									<option value="" ></option>
									{% for companiesrowsource in companiesrowsources %}
										<option value="{{ companiesrowsource.0 }}">{{ companiesrowsource.0 }}</option>
									{% endfor %}
							  </select>
							  <select id="dockindnameswap" hidden>
									<option value="" ></option>
									{% for dockindrowsource in dockindrowsources %}
										<option value="{{ dockindrowsource.0 }}">{{ dockindrowsource.0 }}</option>
									{% endfor %}
							  </select>


							<div class="table-responsive text-nowrap" style="max-height: 600px; overflow:scroll;">
										<table class="table table-striped">
											<thead>

												<tr>
													<td>Midifileid</td>
													<td>Title</td>
												</tr>
											</thead>

											<tbody>
												{%  for midifile in  midifiles %}


													<tr>
														<td>{{ midifile.0 }}</td>
														<td>{{ midifile.1}}</td>
														<td>
															<a href="{% url 'aorderprocessmidiordercheckoutform' midifileid=midifile.0 %}">
																<button class="sendtomebutton" type="submit" midifileid="{{ midifile.0}}">
																   <span>Send to Me</span>
																</button>
															</a>
														</td>

													</tr>



												{% endfor %}
											</tbody>

										</table>
							</div>
	{% endblock %}
