{% extends 'aid/abase.html' %}
{% load staticfiles%}
 	{% block content %}

						   <p align="center" style="font-size:260%">Aid</p>{% csrf_token %}
        <button id="previousbutton" type="submit">
           <span>Previous</span>
        </button>
        <button id="nextbutton" type="submit">
           <span>Next</span>
        </button>
        <button id="finishbutton" type="submit">
           <span>Finish</span>
        </button>
            <input name="qty2" type="text" value="33" hidden/>
        <div id="cartframe">
            <div id="carttoptemplate">
            </div>
            <div id="cartitemstemplate">
            </div>
        </div>

        <div id="tabs">
          <ul>
            <li><a href="#tabs-1">Aid Kind</a></li>
            <li><a href="#tabs-2">Aid Start DateTime</a></li>
          </ul>
          <div id="tabs-1">
            <select id="addtocartselect">
                {% for product in  enabledproductstoorderprocess %}
                    <option value="" productid="{{product.0}}" purchaseprice="{{product.1}}" customerdescription="{{product.2}}" margin="{{product.3}}" unit="{{product.4}}" currencyisocode="{{product.7}}">{{product.2}} </option>
                {% endfor %}
            </select>
            <button id="seedestinationmapbutton" type="submit">
               <span>See destination map</span>
            </button><br>
            <button id="addtocartbutton" type="submit" hidden>
               <span>Add to cart</span>
            </button>

          </div>
          <div id="tabs-2">
            <p>Date: <input type="text" id="aidstartdate"></p>
            <label for="aidstarttime_name">Select a time:</label>
            <p><input type="time" id="aidstarttime" name="aidstarttime_name" value="13:30"></p>

          </div>
        </div>
        <div id="dialog-message-sendingyourorder" title="Sending Your Order...">
        </div>
        <div id="map">

        </div>

        <div id="result">

        </div>

        <div id="demoMap" style="height:250px; width:600px">

        </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxJTfEpAtq-bPM_qS6BEDukOLk4JJzOFc&callback=initMap">
    </script>
    <script
    src="{% static 'js/OpenLayers-2.13.1/OpenLayers.js' %}" >
    </script>



      <script
        src="https://www.paypal.com/sdk/js?client-id=AcTczGRsMLRWW0dxFloKmk1QwEDYEoU82MqbUWihnAwbX3gKP6xvKBVZsTNPfkVGhwVCnqAr98EHvl0E"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
      </script>

      <div id="paypal-button-container"></div>

      <script>
         paypal.Buttons({
            createOrder: function(data, actions) {
              // This function sets up the details of the transaction, including the amount and line item details.
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: '1.00'
                  }
                }]
              });
            },
            onApprove: function(data, actions) {
              // This function captures the funds from the transaction.
              return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
              });
            }
          }).render('#paypal-button-container');
          //This function displays Smart Payment Buttons on your web page.
        </script>

      <div id="paypal-button-container2">

        <button id="paynow2button" type="submit">
           <span>Pay Now</span>
        </button>

      </div>


	<script type="text/javascript" src="{% static 'js/aorderprocess.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/aorderprocess.css' %}">

	{% endblock %}
