{% extends 'aid/abase.html' %}
{% load staticfiles%}
 	{% block content %}
	                    <div class="post">
						   <p align="center" style="font-size:260%">Aid</p>

        <button id="previousbutton" type="submit">
           <span>Previous</span>
        </button>
        <button id="nextbutton" type="submit">
           <span>Next</span>
        </button>
        <form action="{% url 'acustomercartsaveasorder' %}" method="post" >{% csrf_token %}


            <input name="qty2" type="text" value="33" hidden/>
            <input id="finishbutton" type="submit" value="Finish" />
        </form>
        <div id="cartframe">
            <div id="carttoptemplate">
            </div>
            <div id="cartitemstemplate">
            </div>
        </div>

        <div id="tabs">
          <ul>
            <li><a href="#tabs-1">Aid Kind</a></li>
            <li><a href="#tabs-2">Aid Start DateTime</a></li>
          </ul>
          <div id="tabs-1">
            <p>Escort to Doctor</p>
            <p>Please choose maximum expected duration time in hours with the below slide (overtime 1.5 x base fee)</p>

            <div id="slideraidkind">
              <div id="custom-handle-aidkind" class="ui-slider-handle"></div>
            </div>

            <select id="addtocartselect">
                {% for product in  enabledproductstoorderprocess %}
                    <option value="" productid="{{product.0}}" purchaseprice="{{product.1}}" customerdescription="{{product.2}}" margin="{{product.3}}" unit="{{product.4}}" currencyisocode="{{product.7}}">{{product.2}} </option>
                {% endfor %}
            </select><br>
            <button id="addtocartbutton" type="submit">
               <span>Add to cart</span>
            </button>

          </div>
          <div id="tabs-2">
            <p>Date: <input type="text" id="datepicker"></p>
            <label for="appt">Select a time:</label>
            <p><input type="time" id="appt" name="appt"></p>

          </div>
        </div>



	<script type="text/javascript" src="{% static 'js/aorderprocess.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/aorderprocess.css' %}">

	{% endblock %}
