{% extends 'aid/abase.html' %}
{% load staticfiles%}
 	{% block content %}
	                    <div class="post">
						   <p align="center" style="font-size:260%">Aid</p>

        <button id="previousbutton" type="submit">
           <span>Previous</span>
        </button>
        <button id="nextbutton" type="submit">
           <span>Next</span>
        </button>
        <form action="{% url 'adocorderadd' %}" method="post" >{% csrf_token %}


            <input name="qty2" type="text" value="xss" hidden/>
            <input id="finishbutton" type="submit" value="Finish" />
        </form>
        <div id="cartframe">
            <p >CART</p>
            <div id="cartitemstemplate">

            </div>
        </div>

        <div id="tabs">
          <ul>
            <li><a href="#tabs-1">Aid Kind</a></li>
            <li><a href="#tabs-2">Start Date and Time</a></li>
            <li><a href="#tabs-3">Extras</a></li>
          </ul>
          <div id="tabs-1">
            <p>Escort to Doctor</p>
            <p>Please choose maximum expected duration time in hours with the below slide (overtime 1.5 x base fee)</p>

            <div id="slideraidkind">
              <div id="custom-handle-aidkind" class="ui-slider-handle"></div>
            </div>

          </div>
          <div id="tabs-2">
            <p>Tab2 Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
          </div>
          <div id="tabs-3">
                                <select id="addtocartselect">
                                    {% for product in  enabledproductstoorderprocess %}
                                        <option value="" productid="{{product.0}}" purchaseprice="{{product.1}}" customerdescription="{{product.2}}" margin="{{product.3}}" unit="{{product.4}}" currencyisocode="{{product.7}}">{{product.2}} </option>
                                    {% endfor %}
                                </select><br>
                                <button id="addtocartbutton" type="submit">
                                   <span>Add to cart</span>
                                </button>
            </div>
          </div>
        </div>



	<script type="text/javascript" src="{% static 'js/aorderprocess.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/aorderprocess.css' %}">

	{% endblock %}
