.content-wrapper {
    min-height: 100vh;
    position: relative;
    background-color: #f6f6f6;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.order-confirmation--grid {
    padding-top: 24px;
    padding-bottom: 24px;
}
.confirmation-message {
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px 18px;
    background-color: #ecf9ea;
}
.order-confirmation__full-width-wrapper {
    width: 66.66666667%;
    margin-left: 16.66666667%;
    display: block;
    float: left;
    margin-right: 16.66666667%;
    padding: 6px;
}
.confirmation-message--thankyou-section {
    display: flex;
    margin-bottom: 7px;
}
.fa-check-circle {
    margin-top: 9px;
    padding-right: 16px;
}
h2 {
font-family: 'Arial';
font-weight: bold;
}