
#tabs {
    width: 250mm;
}
.ui-dialog {
    left: 50% !important;
    top: 50% !important;
    margin-left: -175px !important;
    margin-top: -175px !important;
}

button {
display: inline;
border: 1px solid black;
transition: 250ms background-color;
}

button:disabled, input:disabled {
border: 0px solid black;
}

button:hover {
cursor: pointer;
background-color: black;
color: white;
}

button:disabled:hover  {
cursor: not-allowed;
opacity: 0.6;
}
#cartframe {
position: absolute;
left:300mm;
max-width: 550px;
}
#custom-handle-aidkind, #custom-handle-carusage {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
.productframeincart {
position: relative;
background-color: white;
width: 300px;
height: 100px;
overflow:hidden;
border-bottom:1px solid gray;
zoom:1
}
.glyphicon-remove {
position: absolute;
right:1mm;
top: 1mm;
}
.qty {
font-size: 10px;
}
.maxtag {
font-size: 10px;
}
.qtydiv {
position: absolute;
height: 26px;
width: 58px;
//border:1px solid gray;
left:0mm;
top: 13.3mm;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.pricediv {
position: absolute;
right:15mm;
bottom: 5mm;
}
.messagetagincarttop {
position: absolute;
left:2mm;
top: 4mm;
font-size:14px;
opacity: 0.6;

}
.pricetagincarttop {
position: absolute;
left:30mm;
top: 3.5mm;
font-size:18px;
//margin:10px 0 15px 10px;
color:#010101;
font-weight:bold
}
.loader {
  position: absolute;
  right:3mm;
  top: 3mm;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 0.45s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#carttoptemplate {
position: relative;
height: 50px;
width: 300px;
background-color: white;
border: 1px solid gray;

}
#cartitemstemplate {
position: relative;
top: 20px;
}
.glyphicon-shopping-cart {
  position: absolute;
  right: 2mm;
  top: 3mm;
  font-size: 30px;
  opacity: 0.8;
}
.productincreasebutton:hover {
  background-color: white;
  color: black;
  border: 2px solid #4286f4;
}
.productincreasebutton:active {
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
.productincreasebutton:disabled {
  opacity: 0.6;
  cursor: allowed;
}
.productincreasebutton {
  position: absolute;
  left:5mm;
  top: 8mm;

  background-color: #5999ff;
  color: white;

  font-size: 10px;
//  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 6px;
  padding: 0px 0px;
  width: 20px;
  height: 20px;
}
.productdecreasebutton:hover {
  background-color: white;
  color: black;
  border: 2px solid #4286f4;
}
.productdecreasebutton:active {
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
.productdecreasebutton:disabled {
  opacity: 0.6;
  cursor: allowed;
}
.productdecreasebutton {
  position: absolute;
  left:5mm;
  top: 20mm;

  background-color: #5999ff;
  color: white;
  font-size: 12px;
//  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 6px;
  padding: 0px 0px;
  display: block;
  width: 20px;
  height: 20px;
}
#map {
height: 300px;
width: 600px;
}
