
#tabs {
    width: 250mm;
}
.ui-dialog {
    left: 50% !important;
    top: 50% !important;
    margin-left: -175px !important;
    margin-top: -175px !important;
}

button, input {
display: inline;
border: 1px solid black;
transition: 250ms background-color;
}

button:disabled, input:disabled {
border: 0px solid black;
}

button:hover, input:hover {
cursor: pointer;
background-color: black;
color: white;
}

button:disabled:hover, input:disabled:hover  {
cursor: not-allowed;
opacity: 0.6;
}
#cartframe {
position: absolute;
left:300mm;
max-width: 550px;
}
#custom-handle-aidkind, #custom-handle-carusage {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
.productframeincart {
position: relative;
background-color: lightgray;
width: 300px;
height: 100px;
overflow:hidden;
border-bottom:1px solid gray;
zoom:1
}
.glyphicon-plus {
position: absolute;
left:0mm;
top: 10mm;
}
.glyphicon-minus {
position: absolute;
left:0mm;
top: 20mm;
}
.glyphicon-remove {
position: absolute;
right:1mm;
top: 1mm;
}
.qty {
position: absolute;
left:0mm;
top: 15mm;
}
.priceandiso {
position: absolute;
right:15mm;
bottom: 5mm;
}
.loader {
  position: absolute;
  right:0mm;
  top: 0mm;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 30px;
  height: 30px;
//  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#carttoptemplate {
height: 20px;
width: 300px;
}
.glyphicon-shopping-cart {
  position: absolute;
  right:0mm;
  top: 0mm;
  font-size: 30px;
}