.container {
margin-top: 100px;
}
.list-group-item {
padding: 5px;
border: 0px;
}
.price {
font-size: 72px;
}
.currency {
font-size: 25px;
position: relative;
top: -30px;
}
.card {
width: 350px;
}
.card:hover {
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-ms-transform: scale(1.05);
-o-transform: scale(1.05);
transform: scale(1.05);
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}